@model IEnumerable<CMIS.Models.LookUp_School>

@{
    ViewData["Title"] = "School_Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
<h1>School Display</h1>

<p>
    <div class="btn btn-green ">
        <a asp-action="School_Create">Create New</a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SchoolNameDari)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolNameEnglish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolNamePashto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolNamePrevious)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentStageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolNameDari)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolNameEnglish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolNamePashto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolNamePrevious)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District.DistrictID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SchoolID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SchoolID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SchoolID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@  

 <div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary"> Create Section </h2>
		</div>
        <div class="col-6 text-right">
            <a asp-action="School_Create" class="btn btn-primary">
			    Insert School
            </a>
        </div> 
	</div>
<br /> <br />
 
{
	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr> School ID </tr>
			<tr> School Name </tr>
			<tr> School Province </tr>
		</thead>
        <tbody> 

        </tbody>
	</table>
}