@model Directorate_Certificate_App.Models.Models.Class_Sections

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Class_Sections</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClassSectionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
